@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

html, body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
     width: 6px;
}
::-webkit-scrollbar-track {
    background-color:var(--secondry-color);
}

::-webkit-scrollbar-thumb {
    background-color:var(--priamry-color);
}


/********General coding*******************/

:root {
   --priamry-color : #fd6c3a;
   --secondry-color : #f84008;
   --red-color : #f84008;
   --skyblue-color : #5bb4d4;
   --blue-color : #0d1781;
   --blue-color : #b4b4b4;
   --darkred-color :  #a02a06;

}



/********animation********/

@keyframes Updown {
    0%   {
        transform: translateY(0px);
    }

    50%   {
        transform: translateY(15px);
    }

    100%   {
        transform: translateY(0px);
    }
}



/******Btn fill**********/
.btn-fill {
      display: inline-block;
      padding: 0.7rem 1rem;
      background: var(--secondry-color) ;
      /* background: #f84008; */
      color: white;
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: 0.5s ease-in-out;;
      transition: 0.2s ease-in-out;
      

}

.btn-fill:hover {
    color: #ff8a66;
 

}


.btn-outline {
    display: inline-block;
    padding: 0.7rem 1rem;
    background: transparent;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.2s ease-in-out;
    
}

.btn-outline:hover {
     color: white;
     background: var(--darkred-color);
     border: 2px solid var(--darkred-color );

    
     
}

.card {
    border: none!important;
    outline: none!important;
}

li {
    list-style: none;
}

a {
    text-decoration: none!important;
}

/***************End General Coding*****************************/


/*****navbar section style*****/
.header-werapper {
    background-color: transparent;
    padding: 0;
    transition: 0.3s linear;
}


.header-werapper .navbar-brand {
    width: 4rem;
}

.header-werapper button:focus,
.header-werapper button{
    color: var(--secondry-color);
    border : none!important;
    box-shadow: unset!important;
    outline: none!important;
   
    
}



.header-werapper .nav-item {
    padding: 0  0.50rem;
}

.header-werapper .nav-item .nav-link {
    font-weight: 700;
    color: var(--red-color);
    font-size: 1rem;

}

.header-werapper .nav-item .nav-link.active,
.header-werapper .nav-item .nav-link:hover {
    color: rgb(54, 104, 179);
}


.header-werapper .scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0.1rem 1rem 0 rgb(0,0,0,0.4);
    transition: 0.9 ease-in-out;
}





/******Home section**********/

.home_wrapper {
    margin-top: 7rem;
    background: url("../image/banner/home\ background.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    
    
}



.home_wrapper .image-animation {
          animation: Updown 2s ease-in-out infinite alternate-reverse both;
          margin-top: 2rem;
        
    
}

.home_wrapper .image-animation img{
    width: 35rem;
  

}


.section_wrapper  {
    margin-top: 4rem;
  
    
   
}

.section_wrapper .card {
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
}

.section_wrapper .card:hover  {
    transform: translateY(-2rem);
    cursor: pointer;
   
}


.section_wrapper img {
    padding-top: 2rem;
}



/*******About section *******/
.about_wrapper {
    margin-top: 10rem;
}


.about_wrapper .about_img img{
    width: 25rem;
   animation: Updown 2s ease-in-out infinite alternate-reverse both;;
}



.about_wrapper .card{
    margin-top: 4rem;
    height: 13rem;
    width: 25rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_wrapper .about_clinic{
    flex: 0 0 auto;
    padding-top: 1rem;
    width: 50%;
}

.about_wrapper .about_clinic:nth-child(1),
.about_wrapper .about_clinic:nth-child(2){
    padding-bottom: 1rem;
}



.about_wrapper .line-1,
.about_wrapper .line-2 {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 0.1rem;
   height: 100%;
   background-color: var(--blue-color);
}

.about_wrapper .line-2 {
    width: 100%;
    height: 0.1rem;
}



/********Services*******/

.service_wrapper{
    margin-top: 10rem;
    background-color: var(--red-color);
 
}

.service_wrapper .card{
    background: transparent;
    border: 0.1rem solid white!important;
    outline: var(--secondry-color)!important;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
     margin-top: 1rem;
    
}

.service_wrapper .service_img {
    width: 5rem;
    height: 5rem;


}


.service_wrapper .btn-outline:hover,
.service_wrapper .card:hover {
    background: rgb(241, 85, 57);
    color: white;
    border: 2px solid #ffffff;
}   



/**********************Our Team*******************************/

.our_team {
    margin-top: 10rem;

   
}


.our_team img{
    height: 10rem;
  
}

.our_team .card{
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    cursor: pointer;
 
}


.our_team .card-body h5{
    color: var(--darkred-color);
 
}


.our_team .card:hover {
   transform: translateY(-10px);
}
 

.our_team .social_icon {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_team .social_icon .link-icon a{
   width: 1rem;
   height: 1rem;
   transition: 0.2s ease-in-out;
   -webkit-transition: 0.2s ease-in-out;
   background: #a02a06;
   color: white;
   line-height: 0.6rem;
   padding: 0.1rem 0.4rem;
   font-size: 1rem;
   margin: 0.2rem;
   border-radius: 5px;
}


.our_team .social_icon .link-icon a:hover{
    background: #d43f11;;
 }

/*********Gellery section*****/
.gellery_wrapper {
    margin-top: 10rem;
    background-color: var(--red-color);
}

.gellery_wrapper .card{
    margin-top: 1.5rem;
}



/********testimonial section*****/

.testimonial_wrapper {
    margin-top: 10rem;

}

.testimonial_wrapper .card{
 background-color: #fff7fb;

}




/****************appointment*********************/

.Appointment {
    margin-top: 10rem;
    height: 50rem;
    background: url('../image/appointment.png') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 15rem;
    color: rgb(145, 40, 8);
    padding-top: 3rem;

}



/*********************************************/

.blog_wrapper {
    margin-top: 8rem;
    
}



.blog_wrapper img{
    max-height: 15rem;
}

.blog_wrapper .card{
    background-color: var(--red-color);
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.blog_wrapper .card:hover{
  transform: translateY(-10px);
}



/**************************************************/

.contact_wrapper {
    margin-top: 10rem;
    background-color: var(--red-color);
}

.contact_wrapper ul {
    padding: 0;
}

.contact_wrapper ul li a {
   color: white;
   font-size: 1rem;
   font-weight: 500;
}


.contact_wrapper .link-item a::before {

    font-family: "Font Awesome 5 Free";
    content: "\f105";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  

}

.contact_wrapper .link-item a:hover {
    transition: 0.5s ease-in-out;
    margin-left: 0.5687rem;

}



.contact_wrapper .form-control:focus{
    box-shadow: none!important;
    color: white!important;
 }
 
 .contact_wrapper .form-control{
      background-color: transparent!important;
      border: 2px solid white!important;
      color: white;
 }
 
 .contact_wrapper .form-control::placeholder {
     color: white!important;
 }

 
 .contact_wrapper .footer_social_icon {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5854rem;
}

.contact_wrapper .footer_social_icon .link-icon a{
   width: 1rem;
   height: 1rem;
   transition: 0.2s ease-in-out;
   -webkit-transition: 0.2s ease-in-out;
   background: #a02a06;
   color: white;
   line-height: 0.6rem;
   padding: 0.1rem 0.4rem;
   font-size: 1rem;
   margin: 0.2rem;
   border-radius: 5px;
}


.contact_wrapper .footer_social_icon .link-icon a:hover{
    background: #d43f11;;
 }





/*******************footer*****************************/

.footer {
    padding: 0.2rem;
    background-color: var(--darkred-color );
    text-align: center;
    color: white;
    
}


.footer  p {
   padding-top: 1rem;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #b83b0e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15%;
  }
  
  #myBtn:hover {
    background-color: #f16331;
  }





/***Resposive*********/




@media(max-width : 768px) {
    .header-werapper .nav-item {
            text-align: center;
            background-color: white;
    }

    .home_wrapper{
       height: 650px;

    }

    .home_wrapper .image-animation img{
        width: 22rem;
        padding-bottom: 2rem;
      
    
    }

    .section_wrapper .card {
        margin-top: 2.36rem;
    }

  
    .service_wrapper .card{
        margin-top: 1rem;
    }

    .our_team .card{
       margin-top: 2rem;
     
    }


    .gellery_wrapper .card{
        margin-top: 1.5rem;
    }
    


    
}